#main
  padding 5px
  
  h1
    gradient desaturate(MCiOrange,30%) saturate(MCiOrange,10%)
    color MCiDarkGrey
    border-radius 10px
    border 1px solid MCiDarkGray
    margin -1px
    padding 2px
    padding-left 10px
    margin-bottom 3px;
